body
{
  font-family:'Poppins', san-serif;
  margin:5px;
  background-repeat:no-repeat;
  background: hsla(312, 77%, 86%, 1);
  background: hsla(220, 61%, 79%, 1);
  background: linear-gradient(225deg, hsla(220, 61%, 79%, 1) 17%, hsla(312, 77%, 86%, 1) 59%, hsla(9, 72%, 86%, 1) 91%);
  background: -moz-linear-gradient(225deg, hsla(220, 61%, 79%, 1) 17%, hsla(312, 77%, 86%, 1) 59%, hsla(9, 72%, 86%, 1) 91%);
  background: -webkit-linear-gradient(225deg, hsla(220, 61%, 79%, 1) 17%, hsla(312, 77%, 86%, 1) 59%, hsla(9, 72%, 86%, 1) 91%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A7BDEA", endColorstr="#F7C0EC", GradientType=1 );
}
.container
{
    padding: 100px 50px;
    text-align: center;
    padding-top: 40px;
}
header#main .brand a
{
    font-family: 'Fredoka One' , cursive;
    text-decoration: none;
    font-size: 7em;
    color: white;
}
nav#main ul
{
    list-style-type: none;
    margin:0;
    text-align: left;
    background: #171717;
    height: 90px;
    position: relative;
    right: 5px;
    bottom: 5.3pc;
    width: 117pc;
    box-shadow:2.5px 6px 7px rgba(252, 212, 137, 0.932);
}
nav#main ul li
{
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    padding-right: 20px;
}
nav#main ul li a
{
    position: relative;
    left: 15pc;
    bottom: 9px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
header#main .brand1 a
{
    font-family: 'Ma Shan Zheng' ,cursive;
    color: red;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
}
 .tot 
{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3.5pc;
    color:white;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    top: 5px;
    right: 3px;
    border-radius: 20px;
}
.img
{
    margin-left: 325px;
}
.search-box
{
    position: absolute;
    background: black;
    height: 40px;
    border-radius: 40px;
    padding: 5px;
    transform: translate(0%,-118%);
    margin-left: 1400px;
}
.search-box:hover > .search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn
{
    background: white;
    height: 35px;
    margin-bottom: 10px;
}
.search-btn
{
    color: orange;
    float: right;
    width: 40px;
    height: 35px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
}
.search-txt
{
    border: none;
    font-family: 'Lemon' ,cursive;
    font-weight: 300;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    line-height: 33px;
    width: 0px;
}

.jish1 {
	padding-left:30px;
	padding-right:30px;
	padding-bottom:80px;
}

h4 {
	font-size:20px;
}

h3 {
	font-size:25px;
}

h2 { 
    font-size:30px;
    text-decoration: underline;
    text-decoration-style: dotted;
    position: relative;
}

h1 {
	font-size:35px;
}

.jishgeneral {
	font-size:18px;
}

.jishbox{
	border:4px;
	border-style:solid;
	border-radius:20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	background: hsla(312, 77%, 86%, 1);
    background: hsla(220, 61%, 79%, 1);
    background: linear-gradient(225deg, hsla(220, 61%, 79%, 1) 17%, hsla(312, 77%, 86%, 1) 59%, hsla(9, 72%, 86%, 1) 91%);
    background: -moz-linear-gradient(225deg, hsla(220, 61%, 79%, 1) 17%, hsla(312, 77%, 86%, 1) 59%, hsla(9, 72%, 86%, 1) 91%);
    background: -webkit-linear-gradient(225deg, hsla(220, 61%, 79%, 1) 17%, hsla(312, 77%, 86%, 1) 59%, hsla(9, 72%, 86%, 1) 91%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A7BDEA", endColorstr="#F7C0EC", GradientType=1 );
}

.introduction {
	background-color:#171717;
	color:white;
	border-radius:15px;
	padding-bottom:10px;
	padding-top:6px;
    box-shadow: 3px 5px 7px rgba(0,0,0,.8), -3px -5px 7px rgba(255, 251, 251,0.9);
}



